Options +FollowSymlinks
RewriteEngine On
RewriteRule ^pages/actus/?.*-([_a-z0-9]*).php$  pages/fiche.php?id=$1 [L]
RewriteRule ^pages/sport/?.*-([_a-z0-9]*).php$  pages/fiche.php?id=$1 [L]
RewriteRule ^client$  pages/liste-actus.php [L]
RewriteRule ^LogAdmin$  service/logAdmin.php [L]
RewriteRule ^acceuilAdmin$  acceuilAdmin.php [L]
RewriteRule ^erreur$  service/erreur.php [L]
RewriteRule ^deconnexion$  index.php [L]


RewriteRule ^details$  details.php [L]
RewriteRule ^ajout-nouveau-details$  service/ajout-details.php [L]
RewriteRule ^details-id=([_a-z0-9]*)-idDetails=([_a-z0-9]*)$  news.php?id=$1&idDetails=$2 [L]

RewriteRule ^modifier-id=([_a-z0-9]*)-idDetails=([_a-z0-9]*)$  modifier.php?id=$1&idDetails=$2 [L]
RewriteRule ^modifierAction$  service/modifier.php [L]





RewriteRule ^nouveau-actus.php$  pages/ajout.php [L]

RewriteRule ^ajouter$  contact.php [L]
RewriteRule ^ajout-nouveau-rechauffement.php$  service/ajout-actus.php [L]

RewriteRule ^liste-actus.php$  pages/liste-actus.php [L]
RewriteRule ^supprimer-id=([_a-z0-9]*)$  service/supprimer.php?id=$1 [L]

